* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header, main {
  padding: 20px 30px;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav a {
  color: #000;
}

header nav a:hover {
  color: blue;
}

a {
  text-decoration: none;
}